* {
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    color: #1B281B;
    font-size: 1.25rem;
    line-height: 1.5;
}

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
}

header {
    text-align: center;
}

img {
    display: block;
    max-inline-size: 100%;
}

h1 {
    font-size: 4rem;
    text-align: center;
    line-height: 1.1;

    @media (width > 720px) {
        font-size: 6rem;
    }
}

/* center the image */


h2{
    color: #CB731C;
    font-size: 2rem;

}

h3 {
    font-size: 1.5rem;

}

a {
    color: #2B930B;
    text-decoration-style: dashed;
    
}



a:hover,
a:focus-visible {
    color: #5b6658;
}



.tilt-bg {
    background-color: #447690;
    color: #fff;
    border: solid 4px #0b4a5a;
    padding: 10px;
    text-align: center;
}

.colored-text {
    color: #447690;
}

.climbing-bg {
    color: white;
    background-color: darkgray;
    background-image: url('../images/simple-steps.jpg');
    padding: 24px;
    border: solid 5px #717ec7;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}



section {
    margin-block: 60px;
}

.grid {
    display: grid;
    gap: 50px;

    @media (width > 720px){
        grid-template-columns: 1fr 1fr;

    }
    

}

header {
    display: flex;
    justify-content: space-between;
}


.primary-navigation ul {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.primary-navigation a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.primary-navigation a:hover ,
.primary-navigation a:focus-visible {
    color: #5b6658;
}

footer {
    text-align: center;
   
}